body {
  // background-color: rgb(167, 150, 150) !important;
}
.headerMyList{
margin: 50px;
display: flex !important;
justify-content: center;
}
// header{
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }
.titles{
display: grid !important;
justify-items: center !important; 
align-items: center;
grid-template-columns: repeat(4, 1fr) !important;

}
.searchSection{
  margin: 50px;
}
h2{
  display: inline-block;
}

.arrowDown{
  padding-left: 5px;
}

.filterButtons{
  margin-top: 20px;
  margin-bottom: 30px;
  display: flex !important;
  justify-content: center;
}
.loadButtonDiv{
  display: flex !important;
  justify-content: center;
  margin-top: 40px;
}
